.switcherContainer {
	min-width: 70px;
	max-width: 70px;
	height: 100%;
	background-color: var(--background-secondary);
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 20px;
	row-gap: 20px;

	.button {
		cursor: pointer;
		width: max-content;
		background-color: var(--background-primary);
		color: var(--background-red);
		min-width: 40px;
		min-height: 40px;
		max-width: 40px;
		max-height: 40px;
		border: 2px solid var(--background-red-secondary);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;

		&[data-active='true'] {
			box-shadow: 0 0 20px var(--background-red);
		}

		img {
			width: 100%;
			height: 100%;
		}
	}
}
